---
import BaseLayout from '../layouts/BaseLayout.astro';

import BlogPostListItem from '../components/BlogPostListItem.astro';

const allPosts = await Astro.glob('./posts/*.md');
---
<BaseLayout>
    <p>Me using Astro Tutorial</p>
    <p>Learning many many ^^</p>
    <ul>
        {allPosts.map(p => <BlogPostListItem url={p.url} title={p.frontmatter.title} />)}
    </ul>
</BaseLayout>

